<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
	<add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
	<add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/shirleymm61/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="shirleymm61"/>
      <add key="ClearTextPassword" value="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"/>
    </github>
  </packageSourceCredentials>
</configuration>